* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica, sans-serif;
    overflow-x: hidden;
    font-size: 2em;
    color: white;
    background-color: #017BB1;

    img {
        width: 100%;
    }

    h1 {
        font-family: 'Arial Black', sans-serif,
            serif;
        font-size: 7em;
        color: #8eaee6;
    }

    input {
        margin-bottom: 5%;
        color: black;
    }

    .btn {
        border: 2px solid white;

        &:hover {
            color: yellow;
            background-color: rgba(00, 00, 00, 0.5);
        }
    }

    .navigation {
        background-color: rgba($color: #000000, $alpha: 0.5);

        .navbar-inverse {
            background-color: inherit;
            border: none;
        }

        .navbar-header {
            img {
                width: 60%;
            }
        }

        button {
            background-color: transparent;
            border: none;
            color: #ffffff;
            padding: 5px;
            font-size: 1.5em;
            margin-top: 5%;
        }

        .navbar-nav {
            margin-top: 1%;

            li {
                list-style-type: none;

                a {
                    color: #ffffff;

                    &:hover {
                        color: yellow;
                    }
                }
            }
        }
    }

    .footer {
        height: 20vh;
        padding: 5%;
    }

    .Form {
        background-color: rgba($color: #000000, $alpha: .5);
        padding: 5%;
    }
}