.cardspecific {
    background-color: rgba(000, 000, 000, 0.5);
    width: 100%;
    padding: 5%;

    h2 {
        font-size: 2.1em;
    }

    .card-specific-body {
        margin-top: 20%;
        font-size: 2em;
    }
}